.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    height: 100vh;

}
.header{
    color: #5383b7;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid #5383b7;
}
.proverb p{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
    font-size: 30px;
}